@font-face {
	font-family: 'GmarketSansMedium';
	src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body{
	-ms-overflow-style: none;
	}
	
 ::-webkit-scrollbar {
	 display: none;
 }

 button {
	background-color: transparent;
 }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'GmarketSansMedium';	
	font-weight: 700;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.contentContainer {
	display: flex;
	justify-content: space-between;	

}



.content{
	flex: 3;
	/* width: 100vw; */
	/* height: 500px; */
	/* display: flex;
	justify-content: space-between; */
}

.contentWrapper {
	width: 100%;
	flex:1;
}

.content_tittle {
	flex: 1;
}

#quickMenu {
	flex: 1;
}

/************************
				메세지 보내기
************************/
.main_contentWrapper {
	/* width: 95%; */
	/* padding: 5% 2.5%; */
}

.main_contentWrapper h2 {
	font-size: 40px;
	font-weight: 400;
}

.main_contentWrapper > div {
	width: 100%;
}
.main_contentWrapper_title {
	display: flex;
	width: 95%;
	padding: 1% 20px 1% 10px;
	justify-content: space-between;
	border-bottom: 1px solid #000;
	align-items: flex-end;
}
#messageBtn{
	width: 150px;
	padding: 17px 0;
	border-radius: 5px;
	border: 1px solid rgba(0,0,0, .2);
	position: relative;
	cursor: pointer;
	transition: .3s;
}
#messageBtn:hover {
	background-color: rgba(0, 0, 0, 0.4);
	border: 1px solid rgba(0, 0, 0, 0.3);
}
#messageBtn span {
	position: relative;
	font-weight: 300;
	top: 1px;
	left: 2px;
	display: inline-block;
	transition: .3s;
}


#messageBtn:hover span {
	color: #fff;
}

.messageTable {
	width: 100%;
	padding: 1% 20px 1% 10px;
}

.messageTable td{ 
	border: 1px solid rgba(0, 0, 0, 0.1);
}
.messageTable th {
	background-color: #374553;
	color:#fff;
	border: 1px solid rgba(0, 0, 0, 0.1);
	height: 30px;
	vertical-align : middle;
}

.messageTable th:first-child {
	border-right: none;
}
.messageTable th:last-child {
	border-left: none;
}
.messageTable td {
	text-align: center;
	vertical-align : middle;
	height: 50px;
}

.messageTable td:nth-child(3) {
	max-width: 120px;
	padding: 0 2px;
	overflow: hidden; /* 넘친 텍스트를 숨깁니다 */
	white-space: nowrap; /* 텍스트를 줄 바꿈하지 않습니다 */
	/* text-overflow: ellipsis; 말줄임표를 사용합니다 */
}

.messageTable .carLarge,
.messageTable .howPayLater,
.messageTable .picketYes
 {
	color: rgba(255, 0, 0, 0.6);
	background-color: rgba(0, 0, 0, 0.2)
}
.sanding {
	background-color: rgba(0, 0, 0, 0.3);
}

#carLarge, #howPayLater, #picketYes{
	color: rgba(255, 0, 0, 0.6);
}

.massageEnd td  {
	background-color: rgba(55, 69, 83, 0.7) !important;
	color: rgba(255,255,255, 0.3) !important;
	/* text-decoration: line-through;
	text-decoration-thickness: 3px;
	text-decoration-color: rgba(255, 0, 0, 0.6); */
}
.messageTable td button {
	width: 100%;
	height: 100%;
	font-size: 12px;
	cursor: pointer;
}
.messageTable td button:hover {
	background-color: rgba(0, 0, 0, 0.3);
	color: rgba(45, 48, 232, 0.7);
}
.massageEnd td button  {
	color: rgba(255,255,255, 0.3) !important;
	/* text-decoration: line-through;
	text-decoration-thickness: 3px;
	text-decoration-color: rgba(255, 0, 0, 0.6); */
}

.memoContainer {
	display: flex;
	
}
.memoLists {
	flex:1;
	/* padding: 10px 15px; */
	/* height: 300px; */
	border-right: 1px solid rgba(0, 0, 0, .1);
}

.memoWrapper {
	width: 100%;
	padding: 10px 15px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	transition: 0.3s;
}

.memoWrapper:hover {
	background-color: rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.memo {
	display: inline-flex;
	flex-direction: column;
	gap: 5px;   
	width: 100%;
}

.memo p, .memo h4{
	color: rgba(55, 69, 83, 0.7);
	transition: 0.3s;
}
.memo:hover p, .memo:hover h4{
	color: rgba(0, 0, 0, 1);
}

.memoFirstRow{
	display: flex;
	justify-content: space-between;
}

.memoFirstLeft {
	display: flex;
	gap: 20px;
	align-items: flex-end;
}

.memoFirstLeft h4{
	font-size: 24px;
	width: 350px;
}

.memofunction{
	gap: 10px;
	display: flex;
	justify-content: end;
}

.memoinfo{
	display: flex;
	gap: 20px;
}
.memoFirstWriter{
	display: flex;
	gap: 8px;
}



.memoFirstDay {
	display: flex;
	gap: 8px;
}

.memoFirstRight {
	display: flex;
    align-items: flex-end;
    justify-content: end;
    gap: 50px;
}

.memoHashTagWrapper {
	display: flex;
	gap: 10px;
}

.memoHashTag {
	border-radius: 10px;
	padding: 4px 6px;
}
.memoHashTag p {
	margin-top: 3px;
}
#memoBook {
	background-color: skyblue;
}
#memoDriver {
	background-color: coral;
}

.memoContent{
	width: 100%;
}

.memoContent__inner {
	width: 100%;
	height: 110px;
	padding: 2% 1.5%;
	border: 1px solid rgba(0, 0, 0, .1);
}

.memoRight {
	position: relative;
	overflow: hidden;
	width: 600px;
}

.memoRightContent {
	position: relative;
}

.memoCRUDWrapper {
	position: absolute;
	top: 0;
	left: 100%;
	transition: .3s left;
	width: 600px;
}

.memoCRUD_buttons {
	background-color: #374553;
	width: 100%;
	height: 55px;
	padding: 0 2%;
	border-bottom: 1px solid rgba(0, 0, 0, .1);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.memoCRUD_buttons .btn{
	padding: 10px 5px;
	border-radius: 2px;
	height: 29px;
	padding: 5px 14px;
	cursor: pointer;
	transition: 0.3s;
	background-color: rgba(255, 255, 255, 0.5);
}

.memoCRUD_buttons .btn span{
	font-weight: 200;
	font-size: 15px;
	background-color: transparent;
	display: inline-block;
	margin-top: 5px;
	transition: 0.3s;
	color: black;
}
.memoCRUD_btn_created {
	display: flex;
	gap: 5px;
}

.memoCRUD_inputs{
	position: absolute;
	width: 100%;
	background: white;
}

.memoCRUD_inputs_titleWrapper, .memoCRUD_inputs_hashtags{
	width: 100%;
	padding: 1% 2%;
}

.memoCRUD_inputs_titleWrapper input, .memoCRUD_inputs_hashtags input {
	width: 100%;
	padding: 1%;
	font-size: 18px;
	font-family: 'GmarketSansMedium';
}
.memoCRUD_inputs_hashtags {

}
.memoCRUD_inputs_text{
	width: 100%;
	padding: 1% 2%;
}
.memoCRUD_inputs_text textarea{
	width: 100%;
	height: 260px;
	resize: none;
	font-size: 18px;
	font-weight: 400;
	font-family: 'GmarketSansMedium';
	padding: 1%;
}
.memoCRUD_inputs_titleWrapper input:focus, 
.memoCRUD_inputs_hashtags input:focus,
.memoCRUD_inputs_text textarea:focus{
	/* border:none; */
	outline:1px solid rgba(0, 0, 0.1);
}


.memoDetailWrapper{
	position: relative;
	width: 100%;
	left: 0;
	padding: 0 2% 2% 2%;
	border: 1px solid rgba(0, 0, 0, .1);
	transition: .3s left;
}

.memoDetail_title h3{
	font-size: 24px;
	padding: 15px 0;
}
.memoDetail_hashtags{
	display: flex;
	gap: 5px;
}

.memoDetail_info{
	display: flex;
	padding: 10px 0; 
	   gap: 10px;
}


.memoDetail_content {
	width: 100%;
	height: 260px;
	font-size: 18px;
	font-weight: 400;
	font-family: 'GmarketSansMedium';
	padding: 1%;
	border: 1px solid rgba(0, 0, 0, .2);
}

.memoDetail_review_add {
	padding: 20px 0;
}
.memoDetail_review_add p {
	font-size: 18px;
	line-height: 25px;
}

.memoDetail_review_add textarea {
	width: 100%;
	height: 70px;
	resize: none;
	font-size: 18px;
	font-weight: 400;
	font-family: 'GmarketSansMedium';
	padding: 1%;
}
.memoDetail_review_addBtn {
	text-align: right;
}
.memoDetail_review_addBtn .btn{
	margin-top: 5px;
	padding: 10px 5px;
	border-radius: 2px;
	height: 29px;
	padding: 5px 14px;
	cursor: pointer;
	transition: 0.3s;
	background-color: rgba(0, 0, 0, 0.2);
}
.memoDetail_review_addBtn .btn span{
	display: inline-block;
	margin-top: 4px;
}
.memoDetail_review_add {
	width: 100%;
	padding: 2% 2%;
	border-top: 1px solid rgba(0, 0, 0, .1);
}

.memoDetail_reviewContainer {
	position: relative;
	left: 0;
	transition: .3s left;
}
.memoDetail_review__wrapper{
	width: 100%;
	padding: 1% 2%;
}
.memoDetail_reivew__first {
	display: flex;
	justify-content: space-between;
}

.memoDetail_review__info {
	display: flex;
	align-items: flex-end;
	gap: 12px;
}
.memoDetail_review__info p {
	font-size: 20px;
}
.memoDetail_review__buttons {
	display: flex;
	align-items: flex-end;
	gap: 4px;
}
.memoDetail_reivew__second {
	width: 100%;
	margin-top: 5px;
}
.memoDetail_review_content {
	width: 100%;
	padding: 2%;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, .1);
}

.memoDetail_review__buttons .btn{
	margin-top: 5px;
	padding: 10px 5px;
	border-radius: 2px;
	height: 29px;
	padding: 5px 14px;
	cursor: pointer;
	transition: 0.3s;
	background-color: rgba(0, 0, 0, 0.2);
}
.memoDetail_review__buttons .btn span{
	display: inline-block;
	margin-top: 4px;
}

.inputsActive{
	left: 0;
}
.inputsActive_right{
	left: -100%;
}







.introBox{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	position: absolute;
	overflow: hidden;
}
.introWhite {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	position: absolute;
	overflow: hidden;
	background-color: #fff;
}
.introBlock {
	width: 100%;
	height: 100%;
	position: absolute;
	top: -100%;
	left: 0;
}

.intro0{
	background-color: #374553;
}
.intro1{
	background-color: #425262;
}
.intro2{
	background-color: rgb(59, 74, 88);
}
.intro3{
	background-color: rgb(103, 128, 155);
}
.intro4{
	background-color: rgb(114, 142, 172);
}
