@font-face {
	font-family: 'GmarketSansMedium';
	src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'GmarketSansMedium';	
	font-weight: 700;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

header {
	background-color:  #374553;
	color: #888;
	width: 100vw;
	/* height: 80px; */
}

.header_fristRow {
	width: 100%;
	padding: 0.4% 1.5%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header_logo{
	width: 160px;
	height: 70%;
	object-fit: cover;
}

.header_logo img {
	width: 100%;
	object-fit: cover;
}

.header_righ{
	display: flex;
	align-items: center;
	gap: 50px;
}



.header_fristRow ul {
	display: flex;
	gap: 20px;
	font-size: 22px;
}

.header_fristRow ul li a:hover {
	color: #fff;
}

.header_fristRow ul li a {

  transition: color 0.25s;
}

.nav_warpper {
	display: flex;
	gap: 10px;	
	align-items: center;
}
.nav_warpper a {
	text-decoration: none;
}
.nav_warpper a:visited {
	color:#aaa;
	text-decoration: none;
}

a {
  color:#aaa;
}

.header_active a:visited{
	color:white
}

.currentUserWrapper {
	display: flex;
	gap: 5px;
}

.userChange {
	position: relative;
}
.userChangeBtn {
	font-size: 12px;
	cursor: pointer;
	transition: .15s color;
}
.userChangeBtn:hover {
	color:#fff;
}

.currentUser {
	font-size: 16px;
}

.currentUser p {
	color: #FF93AC;
}

.userChangeModal {
	position: absolute;
	top: 20px;
	left: -10px;
	width: 120px;
	height: 900px;
	overflow: hidden;
	
}

.changeUserLists {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.changeUserList {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 21px;
	width: 100%;
	height: 40px;
	letter-spacing: 3px;
	color: rgba(255,255,255, .5);
	border: 2px solid rgba(0, 0, 0, 0.7);
	background-color: #587089;
	border-top: none;
	transition: .2s;
	cursor: pointer;
	z-index: 999;

	top: -500px;
}
.changeUserList:first-child {
	border-top: 2px solid rgba(0, 0, 0, 0.7);;
}

.changeUserList span{
	padding: 10px 5px;
	font-size: 21px;
	letter-spacing: 3px;
	transition: .2s;
}

.changeUserList:hover {
	background-color: #304052;
}

.changeUserList:hover span{
	color: #FF93AC;
}

