.quickMenuWrapper {
  width: 100%;
  height: 500px;
  overflow: hidden;
  overflow-y: scroll;
  /* background-color: red; */
  border: 2px solid gray;
}

.search_Wrapper{
  background-color:  #374553;
  width: 100%;
  /* padding: 5px 2.5%; */
}
.search_firsRow {
  width: 95%;
  
  padding: 5px 2.5%;
  
  border-bottom: 1px solid black ;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 
                        0 2px 2px rgba(0, 0, 0, 0.15), 
                        0 4px 4px rgba(0, 0, 0, 0.1), 
                        0 6px 6px rgba(0, 0, 0, 0.05)
}
.quick_search {
	color: #fff;
	font-size: 16px;
	display: flex;
  align-self: center;
  justify-content: space-between;
}

.quick_search input{
	width: 80%;
	/* height: 25px; */
	outline: none;
	padding: 0 0 0 5px;
	bottom: 0;
	border-width: 0;
	font-size: 24px;
	font-weight: 400;
  border-radius: 2px;
  background-color: white;
  opacity: 0.1;
  transition: opacity 0.3s;
}
.quick_search input:hover {
  opacity: 0.3;
}

.quick_search input:focus{
  opacity: 0.7;
	border: none;
}
.quick_search_btn {
	background: linear-gradient(to bottom, rgba(102, 152, 203, 1) 0%, rgba(92, 138, 184, 1) 100%);
	padding: 5px 18px;  
  font-size: 14px;

	color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.21);
	border-bottom: 4px solid rgba(0, 0, 0, 0.21);
	border-radius: 4px;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
	margin: 0;
	display: flex;
	align-items: center;
	text-decoration: none;
  opacity: 0.85;
  transition: opacity 0.2s;
}
.quick_search_btn:hover {
  opacity: 1;
}

.quick_search_btn span {
	margin-top: 4px;
	text-decoration: none;
}
.quick_active_btn:visited {
	text-decoration: none;
}
.quick_search_btn span:hover {
	
}

.quick_selects {
  padding: 15px 0 10px 0;
  display: flex;
  gap: 30px;
  color: rgba(255, 255, 255, 0.3);
}

.quick_selects > div {
  display: flex;
  align-items: center;
  gap: 5px;
}
.quick_selects input{
  border-radius: 1px;
  margin: 0;
}

.option_checked {
  color: #fff;
}

.quickExcelWrapper {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  width: 100%;
  height: 50px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4),
              0 2px 2px rgba(0, 0, 0, 0.2);
}
.excelWork{
  display: flex;
  gap: 30px;
}
.quickExcelWrapper h2{
  font-size: 28px;
  margin-left: 17px;
  margin-top: 3px;
}

.excelBtnWarpper {
  display: flex;
  
  gap: 7px;
}
.excelBtnWarpper button {
  /* border: 1px solid rgba(0, 0, 0, 0.2); */
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  height: 29px;
  padding: 5px 8px;
  cursor: pointer;
  transition: 0.3s;
}
.excelBtnWarpper button span {
  font-weight: 200;
  font-size: 13px;
  background-color: transparent;
  display: inline-block;
  margin-top: 3px;
  transition: 0.3s;
}

.excelHowUse{
  /* position: relative; */
  /* margin-top: 9px;  */
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.excelHowUse span {
  margin-top: 3px;
  color: rgba(0, 0, 0, .1);
  transition: 0.3s;
}

.excelHowUse:hover {
  border: 1px solid rgba(0, 0, 0, .6);
}

.excelHowUse:hover span{
  color: rgba(0, 0, 0, .6);
}

.excelBtnWarpper button:hover  {
  background-color: rgba(0,0,0, 0.6);
}
.excelBtnWarpper button:hover  span{
  color: rgba( 255, 255, 255, 0.8);
}
.excelWho{
  display: flex;
  gap: 50px;
  margin-left: 100px;
  width: 600px;
  overflow: hidden;
  align-items: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.excelWho span{
  width: 80px;
}